.section {
    color: #303030;
}
.service {
}
.section__content {
    padding: 75px 0;
}
.title {
    font-weight: 700;
    font-size: 24px;
    color: #868585;
    text-transform: uppercase;
}
.section__title {
    padding-bottom: 60px;
}
.section__wrapper {
    display: flex;
    justify-content: space-between;
}
.section__text {
    flex-basis: 510px;
    margin-right: 90px;
}
.section__text-item:not(:last-child) {
    margin-bottom: 50px;
}
.section__item-title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    color: #303030;
}
.section__item-text {
    font-weight: 400;
    font-size: 14px;
    color: #303030;
}
.section__img {
    max-width: 600px;
}

/* rate */
.rate {
    color: #303030;
}

.rate__about {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}
.rate__item {
    max-width: 600px;
}
.menu {
}
.rate__menu {
    display: flex;
    column-gap: 40px;
}
.menu__item {
}
.menu__link {
    font-size: 18px;
    text-transform: lowercase;
    border-bottom: 1px solid #30303000;
    transition: all .5s ease;
}
.menu__link:hover {
    border-bottom: 1px solid #303030;
}
.rate__tab-content {
    display: none;
    padding-top: 120px;
    max-width: 500px;
}
.rate__tab-content--active {
    display: block;
}
/* SLICK */
.slick-arrow {
    position: absolute;
    left: 250px;
    bottom: 0;
    display: block;
    z-index: 2;
    cursor: pointer;
}
.slick-arrow path {
    transition: all .5s ease;
}
.slick-arrow:hover path {
    fill: #A9A32A;
}
.slick-next {
    margin-left: 60px;
}
.slick-prev {
}
.tab-about {
}
.tab-about__slider {
}
.tab-about__item {
    display: flex;
}
.slick-initialized .slick-slide {
    display: flex;
}
.tab-content__img {
    margin-right: 40px;
}
.tab-content__inner {
    flex-basis: 280px;
}
.tab-content__info {
}
.tab-content__text {
}
.rate__item-info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-top: 100px;
}
.rate__item-block {
    max-width: 235px;
}
.rate__item-block:not(:nth-child(even)) {
    margin-right: 40px;
}
.item-block__title {
    padding-bottom: 5px;
    font-size: 18px;
}
.item-block__text {
    font-size: 14px;
}
.rate__item-title {
    
}
.rate__item-img {
    margin-top: 15px;
}

/* advertising */
.advertising__content {
    text-align: center;
    background: url('../img/section-advertising/bg.jpg') no-repeat center top/cover;
}
.advertising__title {
    margin: 0 auto;
    max-width: 673px;
    font-size: 42px;
    color: #fff;
}

/* clients */
.clients-slider {
    max-width: 510px;
}
.clients__img {
}
.clients-arrow {
    bottom: -30px;
}
.clients-slider__item {
    max-width: 500px;
}
.clients__information {
    margin-left: 90px;
}
.clients__information-title {
    padding-bottom: 30px;
}
.clients__information-about {
    padding-left: 50px;
}
.clients__information-text {
    color: #303030;
}
.clients__information-text:not(:last-child) {
    margin-bottom: 15px;
}
.button {
}
.clients__btn {
    margin-top: 120px;
    margin-left: 50px;
    color: #000;
}
.clients__btn::before {
    content: url('../img/arrow-right-bl.png');
    border: 2px solid #000;
}

/* steps */
.steps__title {
    max-width: 324px;
}
.steps__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.steps__item:not(:last-child) {
    flex-basis: 510px;
    margin-right: 90px;
}
.steps__item-inforamtion {
    max-width: 510px;
}
.steps__item-block:not(:last-child) {
    padding-bottom: 30px;
}
.steps__item-number {
    padding-bottom: 10px;
    font-size: 14px;
    color: #868585;
}
.steps__item-title {
    font-size: 18px;
    line-height: 25px;
}
.steps__item-text {
}
/* .steps__img {
} */